<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite of API.Test">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager">

        </listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/avnish/IdeaProjects/RestAssured_9/src/test/java/api/test">
        <classes>
            <class name="api.test.DDTests">
                <methods>
                    <include name="testPostUser1"/>
                    <include name="testdeleteuserByName"/>
                </methods>
            </class>
            <class name="api.test.UserTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserByName"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUserBYName"/>
                </methods>
            </class>

<!--&lt;!&ndash;            for routes.properties file if you want to run by routes in endpoints use above one . or go to pavan vedio&ndash;&gt;-->
<!--            <class name="api.test.UserTests2">-->
<!--                <methods>-->
<!--                    <include name="testPostUser"/>-->
<!--                    <include name="testGetUserByName"/>-->
<!--                    <include name="testUpdateUserByName"/>-->
<!--                    <include name="testDeleteUserBYName"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>